
<div class="d-flex flex-sm-column mb-3 p-3 align-items-center">
  <h1>Stupid Coaching</h1>
  <div class="border-start border-secondary">
    <form action="answer" method="get" data-turbo="false" class="border-start">
      <label for="You"></label>
      <input type="text" name="ask">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
